<div class="tab-bar d-inline-flex rounded-pill gap-2 p-2">
  <button
    type="button"
    class="btn tab-btn d-flex align-items-center gap-1 rounded-pill"
    (click)="setContent('Restaurants'); onClick()"
  >
    <i
      class="bi bi-fork-knife"
      [ngClass]="content === 'Restaurants' ? 'content-active' : 'content-inactive'"
    ></i>
    <span [ngClass]="content === 'Restaurants' ? 'content-active' : 'content-inactive'"
      >Restaurants</span
    >
  </button>

  <button
    type="button"
    class="btn tab-btn d-flex align-items-center gap-1 rounded-pill"
    (click)="setContent('Notes'); onClick()"
  >
    <i
      class="bi bi-journal-text"
      [ngClass]="content === 'Notes' ? 'content-active' : 'content-inactive'"
    ></i>
    <span [ngClass]="content === 'Notes' ? 'content-active' : 'content-inactive'">Notes</span>
  </button>

  <button
    type="button"
    class="btn tab-btn d-flex align-items-center gap-1 rounded-pill"
    (click)="setContent('Activities'); onClick()"
  >
    <i
      class="bi bi-signpost-split"
      [ngClass]="content === 'Activities' ? 'content-active' : 'content-inactive'"
    ></i>
    <span [ngClass]="content === 'Activities' ? 'content-active' : 'content-inactive'"
      >Activities</span
    >
  </button>

  <button
    type="button"
    class="btn tab-btn d-flex align-items-center gap-1 rounded-pill"
    (click)="setContent('Personal'); onClick()"
  >
    <i
      class="bi bi-heart-fill"
      [ngClass]="content === 'Personal' ? 'content-active' : 'content-inactive'"
    ></i>
    <span [ngClass]="content === 'Personal' ? 'content-active' : 'content-inactive'">Personal</span>
  </button>
</div>
