.register-card {
  background-color: var(--color-beige);
  border-radius: 30px;
}

.title {
  font-size: var(--text-2xl);
}

.sub-text {
  font-size: var(--text-sm);
  color: var(--color-grey);
}

.sub-text a {
  color: var(--color-blue);
  text-decoration: none;
}

:host {
  display: block;
  background-color: var(--color-primary);
  min-height: 100vh;
}
