<div class="card p-3 border-0 rounded-0" style="width: 18rem">
  <img class="card-img-top rounded-0" [src]="src" alt="img" />
  <div class="card-body">
    <p class="card-text text-center">{{ title }}</p>

    <div
      class="d-flex align-items-center justify-content-between"
      [style.visibility]="showBtn ? 'visible' : 'hidden'"
    >
      <button class="btn rounded-circle icon-btn" (click)="onClick()">
        <i class="bi bi-pen"></i>
      </button>

      <button class="btn rounded-circle icon-btn" (click)="onClick()">
        <i class="bi bi-trash3"></i>
      </button>
    </div>
  </div>
</div>
