.subtitle {
  color: var(--color-grey);
}

.icon-btn {
  background-color: var(--color-beige);
  cursor: pointer;
  border: none;
}

.icon-btn:hover i {
  color: var(--color-red);
}

img {
  height: 150px;
  object-fit: cover;
}
