<div class="card p-3 shadow border-0 rounded-0" style="width: 18rem">
  <img class="card-img-top rounded-0" [src]="src" alt="img" />
  <div class="card-body">
    <p class="card-text text-center">{{ title }}</p>
    <div class="d-flex align-items-center justify-content-center gap-2">
      <button class="btn rounded-circle icon-btn" (click)="onEditClick()">
        <i class="bi bi-pen"></i>
      </button>

      <p class="card-text subtitle mb-0">{{ dates }}</p>

      <button class="btn rounded-circle icon-btn" (click)="onDeleteClick()">
        <i class="bi bi-trash3"></i>
      </button>
    </div>
  </div>
</div>
