.info-title {
  font-size: var(--text-2xl);
}

.sub-text {
  font-size: var(--text-xs);
}

.icon-btn {
  background-color: var(--color-beige);
  cursor: pointer;
  border: none;
}

.icon-btn:hover i {
  color: var(--color-red);
}
